@model web.Models.Film

@{
    ViewData["Title"] = "Uredi";
}
<span style="color:white;">
<h1>Uredi</h1>

<h4>Film</h4></span>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FilmID" />
            <div class="form-group">
                <span style="color:white;"><label asp-for="Film_ime" class="control-label"></label></span>
                <input asp-for="Film_ime" class="form-control" />
                <span asp-validation-for="Film_ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span style="color:white;"><label asp-for="Film_trajanje" class="control-label"></label></span>
                <input asp-for="Film_trajanje" class="form-control" />
                <span asp-validation-for="Film_trajanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span style="color:white;"><label asp-for="Film_reziser" class="control-label"></label></span>
                <input asp-for="Film_reziser" class="form-control" />
                <span asp-validation-for="Film_reziser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span style="color:white;"><label asp-for="Film_opis" class="control-label"></label></span>
                <input asp-for="Film_opis" class="form-control" />
                <span asp-validation-for="Film_opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span style="color:white;"><label asp-for="Film_img" class="control-label"></label></span>
                <input asp-for="Film_img" class="form-control" />
                <span asp-validation-for="Film_img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Shrani" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj</a>
</div>

