@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span style="color:white;"> Dobrodošli v Kino++</span></h1>
    
    <style>
        .button {
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 200%;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            width: 26rem;
            height: 6rem;
            border-radius: 4px
        }
        .button1 {
            background-color: #d11f1f;         
        }
        .button:hover {
            background-color: #fa5252;
        }
        .button2 {
            background-color: #b51818; 
        }
        
        .button3 {
            background-color: #911d1d; 
        }
        
        .button4 {
            background-color: #9c3232; 
        }
       
        
    </style>
    <a href="Filmi" class=" button button1 btn btn-primary">Preglej Aktualne Filme</a><br>
    <a href="Predstave" class=" button button2 btn btn-primary">Preglej Predstave</a><br>
    <a href="Identity/Account/Register" class=" button button4 btn btn-primary">Registriraj Se</a><br>
    <a href="Identity/Account/Login" class=" button button3 btn btn-primary">Prijavi Se</a><br>
    
    


</div>
